# My cases
cases_mine/

# MATLAB files
*.asv
*myWorkspace.mat

# Other/system files
.DS_Store

# Figures
*_out.png
*/hypersonic_entry_capsule/*.pdf
*/hypersonic_blunt_cone/*.pdf
*/hypersonic_cylinder/*.pdf